<mat-dialog-content class="container mx-auto" style="height:100%">

  <h1 class="h3">New Recommendation</h1>

  <form [formGroup]="itemForm" class="d-flex flex-column">
    
    <mat-form-field>
     <input matInput placeholder="What do you recommend?" formControlName="title" [matAutocomplete]="auto">
     <!-- <input matInput type="text" placeholder="Pick one" aria-label="Number" [formControl]="myControl" [matAutocomplete]="auto"> -->
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let autoCompleteOption of autoCompleteOptions" [value]="autoCompleteOption">
            {{autoCompleteOption}}
          </mat-option>
        </mat-autocomplete>
    
    </mat-form-field>

    
    
    <h1 class="h5 mb-2">Why do you recommend it?</h1>
    <quill-editor
      class="mb-4"
      [styles]="{height: '250px'}" 
      formControlName="userDescription">
    </quill-editor>

    <h1 class="h5">Give your recommendation a tag</h1>
    <mat-radio-group 
      class="d-flex flex-column ml-2" 
      aria-label="Select an option" 
      formControlName="category">
      <mat-radio-button value="book">Buch</mat-radio-button>
      <mat-radio-button value="movie">Film</mat-radio-button>
      <mat-radio-button value="series">Serie</mat-radio-button>
      <mat-radio-button value="other">Andere</mat-radio-button>
    </mat-radio-group>
  
  </form>

  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Abbrechen</button>
    <button mat-button 
            mat-dialog-close
            (click)="onSubmitItem(itemForm.value.title, itemForm.value.category, itemForm.value.userDescription)"
            cdkFocusInitial>Bestätigen
    </button>
  </div>
  
</mat-dialog-content>
